.mediaViewInfo {
	--web-view-name: AccessApp;
	--web-view-id: AccessApp;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: AccessApp;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#AccessApp {
	position: absolute;
	width: 432px;
	height: 720px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: AccessApp;
	--web-view-id: AccessApp;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Gruppe_586 {
	position: absolute;
	width: 432px;
	height: 720px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gruppe_561 {
	position: absolute;
	width: 432px;
	height: 720px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gruppe_558 {
	position: absolute;
	width: 432px;
	height: 720px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gruppe_559 {
	position: absolute;
	width: 432px;
	height: 720px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gruppe_560 {
	position: absolute;
	width: 432px;
	height: 720px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gruppe_564 {
	position: absolute;
	width: 126px;
	height: 31px;
	left: 48px;
	top: 597px;
	overflow: visible;
}
#Gruppe_563 {
	position: absolute;
	width: 126px;
	height: 31px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gruppe_567 {
	position: absolute;
	width: 40px;
	height: 12px;
	left: 48px;
	top: 580px;
	overflow: visible;
}
#Gruppe_566 {
	position: absolute;
	width: 40px;
	height: 12px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gruppe_571 {
	position: absolute;
	width: 432px;
	height: 720px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gruppe_568 {
	position: absolute;
	width: 432px;
	height: 720px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gruppe_569 {
	position: absolute;
	width: 432px;
	height: 720px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gruppe_570 {
	position: absolute;
	width: 432px;
	height: 720px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gruppe_574 {
	position: absolute;
	width: 336px;
	height: 60px;
	left: 48px;
	top: 246px;
	overflow: visible;
}
#Gruppe_573 {
	position: absolute;
	width: 336px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gruppe_577 {
	position: absolute;
	width: 338px;
	height: 62px;
	left: 47px;
	top: 245px;
	overflow: visible;
}
#Gruppe_575 {
	position: absolute;
	width: 338px;
	height: 62px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gruppe_576 {
	position: absolute;
	width: 338px;
	height: 62px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gruppe_580 {
	position: absolute;
	width: 336px;
	height: 40px;
	left: 48px;
	top: 378px;
	overflow: visible;
}
#Gruppe_579 {
	position: absolute;
	width: 336px;
	height: 40px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gruppe_583 {
	position: absolute;
	width: 338px;
	height: 42px;
	left: 47px;
	top: 377px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: AccessError.html;
	cursor: pointer;
}
#Gruppe_581 {
	position: absolute;
	width: 338px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gruppe_582 {
	position: absolute;
	width: 338px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gruppe_585 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 193px;
	top: 48px;
	overflow: visible;
}
#Gruppe_584 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 0px;
	top: 0px;
	overflow: visible;
}